
/* barlow-regular - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-700 - latin */
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-900 - latin */
  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url("../fonts/barlow-v12-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/barlow-v12-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-family: "Fraunces";
    font-style: italic;
    font-weight: 900;
    src: local(''),
         url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


*{
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow","Arial",sans-serif;
    font-weight: 400;
    background-color: #FEFCF7;
}
main{
    flex-grow: 1;
}
img{
    display: block;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.site-header{
    padding: 32px 0 41px 0;
}


.header-box{
    display: flex;
    justify-content: space-between;
}

.header-box__btn{
    width: 16px;
    height: 15px;
    background-image: url("../images/combined-shape.svg");
    background-color: transparent;
    border: none;
}

.st-naw{
    display: none;
}




.st-naw__link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

.st-naw__link:hover{
   color: #333D4B;
}






    


    .st-naw{
        display: none;
    }
    .header-box__btn{
        display: block;
    }

    .hr-all-box{
        margin-bottom: 24px;
        padding: 100px 0 100px 17px;
        background-image: url("../images/BitmapMb.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;


    }

    .hr-box{
        max-width: 290px;
    }
    

    .hr-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FEFCF7;
    }
    .hr-box__text{
        margin: 0;
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;   
    }
    .site-button{
        display: block;
        margin: 0 auto;
        padding: 15px 30px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
    }
    .our-section{
        padding: 120px 0 120px 0;
    }

    .our-box__item:not(:last-child){
        margin-bottom: 24px;
    }
    .our-box__img{
        position: relative;
        top: 0%;
        left: calc(50% - 90px);
    }



    .our-box__list{
        position: relative;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    .our-box__list::before{

        background-image: url("../images/our-section.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        max-width: 375px;
        height: 72px;
        content: "";
    }
    
    .our-box__title{
        margin: 0;
        margin-bottom: 16px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;    
    }

    .our-box__text{
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #333D4B;    
    }


    .header-naw__open .st-naw{
        display: block;
    }
    .header-box{
        position: relative;
    }
 
    .st-naw{
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        max-width: 100%;
        height: calc(100vh - 90px);
        background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    }
    .st-naw__list{
        display: block;
        margin: 0;
        padding: 0;
        padding: 55px 0 40px 0;
    }
    .st-naw__item{
        display: block;
        margin: 0;
        max-width: 100%;

    }
    .st-naw__link{
        display: flex;
        justify-content: center;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;    
    }

    .st-naw__item:not(:last-child){
        margin-bottom: 32px;
    }
    .header-naw__open .header-box__btn{
        background-image: url("../images/XXX.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .why-section{
        padding-bottom: 0;
    }
    .why-box{
        position: relative;
        padding: 0 24px;
        background-color: #2C343E;
        border-radius: 10px;
        z-index: 3;
    }

    .why-box::after{
        position: absolute;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 245px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #2C343E;
        content: "";
    }

    .why-box__text-box{
        padding: 64px 24px 28px 24px;
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .why-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;    
    }   
    .why-box__text{
        margin: 0;
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;    
    }

    .why-box-list{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 24px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .why-box-item{
        flex-wrap: 1;
        position: relative;
        left: 0;
        width: 100%;
        max-width: 350px;
        padding: 200px 48px 48px 48px;
        background-color: #0E8784;
        border-radius: 8px;
        list-style: none;
    }
    .why-box-item{
        margin: 20px;
    }
    .why-box-item::before{
        position: absolute;
        top: 23%;
        left: 34%;
        width: 100%;
        max-width: 71px;
        height: 71px;
        background-image: url("../images/Shape.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
    }
    .why-box-item:nth-child(2):before{
        background-image: url("../images/gift.svg");
    }
    .why-box-item:nth-child(3):before{
        background-image: url("../images/trakc.svg");
    }
 
    .why-box-item-title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;    
    }

    .why-box-item-text{

        margin: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
    }

    .how-section{
        padding-top: 70px;
        padding-bottom: 120px;
    }

    .how-box__title{
        margin: 0;
        margin-bottom: 176px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #83888F;   
    }
    .how-box__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .how-box__item{
        margin: 0 auto;
        position: relative;
        max-width: 327px;
    }
    .how-box__item:not(:last-child){
        margin-bottom: 152px;
    
    }
    .how-box__item::before{
        position: absolute;
        top: -55%;
        left: 35%;
        background-image: url("../images/01.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 70px;
        content: "";
    }

    .how-box__item:nth-child(2):before{
        background-image: url("../images/02.svg");
    }

    .how-box__item:nth-child(3):before{
        background-image: url("../images/03.svg");
    }
    .how-box__item-tlt{
        margin: 0;
        margin-bottom: 24px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;    
    }
    .how-box__item-txt{
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #333D4B;    
    }


    .site-button--active{
        margin: 0 auto;
        margin-top: 79px;
        margin-left: calc(50% - 90px);
    
    }

    .site-button{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }
    .site-button:hover{
        background-color:  #66D2CF;
    }
    .site-button:active{
        background-color: #E2DEDB;
    }


    .footer-box{
        background-color: #2C343E;
        padding: 54px;
        width: 100%;
    }
    .footer-box__logo{
        display: flex;
        justify-content: center;
    }

    .footer-box__list{
        padding: 0;
        min-width: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 24px;
    }

    .footer-box__item{
        margin: 0 auto;
    }
    .footer-box__item:first-child{
        margin-top: 50px;
    }
    .footer-box__item:last-child{
        margin-bottom: 50px;
    }
    .footer-box__link{
        margin: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
        text-decoration: none;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }
    .footer-box__link:hover{
        color: #FEFCF7;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }


@media only screen and (min-width: 450px) {
    .hr-all-box{
        background-image: url("../images/BitmapTb.png");
        background-position: center;
        padding-left: 58px;
    }

    .hr-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: left;

        color: #FEFCF7;
    }
    .hr-box__text{
        margin: 0;
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        text-align: left;

        opacity: 0.8;   
    }
    .site-button{
        margin: 0;
        padding: 15px 30px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
    }
    .our-section{
        padding: 120px 0 120px 0;
    }
    .our-box__item{
        position: relative;
        z-index: 5;
        /* padding: 0 0 0 291px; */
        display: flex;
        justify-content: center;
    }
    .our-box__img{
        position: relative;
        top: -25px;
        left: -5%;
    }
    .our-box__text-box{
        max-width: 282px;
    }
    .our-box__title{
        text-align: left;
    }
    .our-box__text{
        text-align: left;
        
    }
           
    .our-box__list{
        position: relative;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    .our-box__list::before{
        /* position: absolute;
        top: -13%;
        left: calc(50% - 181px); */
        background-image: url("../images/our-sectionLp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: calc(50% + 0px) 0px;
        max-width: 689px;
        height: 118px;
        content: "";
    }
    .st-naw{
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        max-width: 100%;
        height: calc(100vh - 90px);
        background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        
    }
    .st-naw__list{
        display: block;
        margin: 0;
        padding: 0;
        padding: 55px 0 40px 0;
    }
    .st-naw__item{
        display: block;
        margin: 0;
        max-width: 100%;

    }
    .st-naw__link{
        display: flex;
        justify-content: center;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;    
    }

    .st-naw__item:not(:last-child){
        margin-bottom: 32px;
    }


    
    .why-section{
        padding-bottom: 0;
    }
    .why-box{
        position: relative;
        padding: 0 24px;
        background-color: #2C343E;
        border-radius: 10px;
        z-index: 3;
    }

    .why-box::after{
        position: absolute;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 245px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #2C343E;
        content: "";
    }

    .why-box__text-box{
        padding: 64px 24px 28px 24px;
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .why-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;    
    }   
    .why-box__text{
        margin: 0;
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;    
    }

    .why-box-list{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 24px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .why-box-item{
        flex-wrap: 1;
        position: relative;
        left: 0;
        width: 100%;
        max-width: 350px;
        padding: 200px 48px 48px 48px;
        background-color: #0E8784;
        border-radius: 8px;
        list-style: none;
    }
    .why-box-item{
        margin: 20px;
    }
    .why-box-item::before{
        position: absolute;
        top: 23%;
        left: 38%;
        width: 100%;
        max-width: 71px;
        height: 71px;
        background-image: url("../images/Shape.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
    }
    .why-box-item:nth-child(2):before{
        background-image: url("../images/gift.svg");
    }
    .why-box-item:nth-child(3):before{
        background-image: url("../images/trakc.svg");
    }
 
    .why-box-item-title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;    
    }

    .why-box-item-text{

        margin: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
    }

    .how-section{
        padding-top: 70px;
        padding-bottom: 120px;
    }

    .how-box__title{
        margin: 0;
        margin-bottom: 176px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #83888F;   
    }
    .how-box__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .how-box__item{
        margin: 0 auto;
        position: relative;
        max-width: 327px;
    }
    .how-box__item:not(:last-child){
        margin-bottom: 152px;
    
    }
    .how-box__item::before{
        position: absolute;
        top: -55%;
        left: 35%;
        background-image: url("../images/01.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 70px;
        content: "";
    }

    .how-box__item:nth-child(2):before{
        background-image: url("../images/02.svg");
    }

    .how-box__item:nth-child(3):before{
        background-image: url("../images/03.svg");
    }
    .how-box__item-tlt{
        margin: 0;
        margin-bottom: 24px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;    
    }
    .how-box__item-txt{
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #333D4B;    
    }


    .site-button--active{
        display: inline-block;
        margin: 0 auto;
        margin-top: 79px;
        margin-left: calc(50% - 90px);
    
    }

    .site-button{
        cursor: pointer;
    }
    .site-button:hover{
        background-color:  #66D2CF;
    }
    .site-button:checked{
        background-color:  #E2DEDB;
    }
    .footer-box{
        background-color: #2C343E;
        padding: 54px;
        width: 100%;
    }
    .footer-box__logo{
        display: flex;
        justify-content: center;
    }

    .footer-box__list{
        padding: 0;
        min-width: 121px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 24px;
    }

    .footer-box__item{
        margin: 0 auto;
    }
    .footer-box__item:first-child{
        margin-top: 50px;
    }
    .footer-box__item:last-child{
        margin-bottom: 50px;
    }
    .footer-box__link{
        margin: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
        text-decoration: none;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }

   

}

@media only screen and (min-width: 600px){
        

    .st-naw{
        display: block;
    }
    .header-box__btn{
        display: none;
    }

    .hr-all-box{
        margin-bottom: 24px;
        padding: 104px 0 103px 58px;
        background-image: url("../images/BitmapTb.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .header-box{
        width: 100%;
        max-width: 398px;
    }

    .hr-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: left;

        color: #FEFCF7;
    }
    .hr-box__text{
        margin: 0;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        text-align: left;

        opacity: 0.8;   
    }
    .site-button{
        margin: 0;
        padding: 15px 30px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
    }   
    .header-box{
        position: none;
    }
    .our-section{
        padding: 120px 0 120px 0;
    }
    .our-box__item{
        position: relative;
        z-index: 5;
        /* padding: 0 0 0 291px; */
        display: flex;
        justify-content: center;
    }
    .our-box__img{
        position: relative;
        top: -25px;
        left: -5%;
    }
    .our-box__text-box{
        max-width: 282px;
    }
    .our-box__title{
        text-align: left;
    }
    .our-box__text{
        text-align: left;
        
    }
           
    .our-box__list{
        position: relative;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        list-style: none;
    }

    .our-box__list::before{
        /* position: absolute;
        top: -13%;
        left: calc(50% - 181px); */
        background-image: url("../images/our-sectionLp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: calc(50% + 0px) 0px;
        max-width: 689px;
        height: 118px;
        content: "";

    }
    .header-box{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    .st-naw{
        position: relative;
        top: 2px;
        right: 0px;
        left: 0px;
        max-width: none;
        height: 0px;
        background: none;
        
    }
    .st-naw__list{
        display: flex;
        margin: 0;
        padding: 0;
        padding: 0 0 0 0;
    }
    .st-naw__item{
        display: flex;
        margin: 0;
        max-width: none;
    }

    .st-naw__item:not(:last-child){
        margin-right: 32px;
    }
    .st-naw__link{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;   
    }

    .st-naw__item:not(:last-child){
        margin-bottom: 32px;
    }

    .why-section{
        padding-bottom: 0;
    }
    .why-box{
        position: relative;
        padding: 0 24px;
        background-color: #2C343E;
        border-radius: 10px;
        z-index: 3;
    }

    .why-box::after{
        position: absolute;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 375px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #2C343E;
        content: "";
    }

    .why-box__text-box{
        padding: 64px 24px 28px 24px;
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .why-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;    
    }   
    .why-box__text{
        margin: 0;
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;    
    }

    .why-box-list{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 24px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .why-box-item{
        position: relative;
        left: 0;
        width: 100%;
        max-width: 564px;
        padding: 41px 46px 41px 181px;
        background-color: #0E8784;
        border-radius: 8px;
        list-style: none;
    }
    .why-box-item{
        margin: 20px;
    }
    .why-box-item::before{
        position: absolute;
        top: 34%;
        left: 12%;
        width: 100%;
        max-width: 71px;
        height: 71px;
        background-image: url("../images/Shape.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
    }
    .why-box-item:nth-child(2):before{
        background-image: url("../images/gift.svg");
    }
    .why-box-item:nth-child(3):before{
        background-image: url("../images/trakc.svg");
    }
 
    .why-box-item-title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: start;
        color: #FEFCF7;    
    }

    .why-box-item-text{

        margin: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #FEFCF7;
    }
    .how-section{
        padding-top: 90px;
        padding-bottom: 120px;
    }

    .how-box__title{
        margin: 0;
        margin-bottom: 176px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #83888F;   
    }
    .how-box__list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .how-box__item{
        margin: 0 auto;
        position: relative;
        max-width: 327px;
    }
    .how-box__item:not(:last-child){
        margin-bottom: 0;
        margin-right: 10px;
    
    }
    .how-box__item::before{
        position: absolute;
        top: -40%;
        left: 0%;
        background-image: url("../images/01.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 70px;
        content: "";
    }

    .how-box__item:nth-child(2):before{
        background-image: url("../images/02.svg");
    }

    .how-box__item:nth-child(3):before{
        background-image: url("../images/03.svg");
    }
    .how-box__item-tlt{
        margin: 0;
        margin-bottom: 24px;
        max-width: 211px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        text-align: start;
        color: #333D4B;    
    }
    .how-box__item-txt{
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #333D4B;    
    }


    .site-button--active{
        margin: 0 auto;
        margin-top: 44px;
    
    }

    .site-button{
        cursor: pointer;
    }
    .site-button:hover{
        background-color:  #66D2CF;
    }
    .site-button:active{
        background-color:  #E2DEDB;
    }
    .footer-box{
        background-color: #2C343E;
        padding: 54px;
        width: 100%;
    }
    .footer-box__logo{
        display: flex;
        justify-content: center;
    }

    .footer-box__list{
        padding: 0;
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 33px;
        max-width: 270px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        gap: 24px;
    }

    .footer-box__item{
        margin: 0 auto;
    }
    .footer-box__item:first-child{
        margin-top: 0px;
    }
    .footer-box__item:last-child{
        margin-bottom: 0px;
    }
    .footer-box__link{
        margin: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
        text-decoration: none;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }

   

}

@media only screen and (min-width: 740px) {

}

  
@media only screen and (min-width: 740px){
        
    .container{
        padding: 0 30px;
    }

    .st-naw{
        display: block;
    }
    .header-box__btn{
        display: none;
    }

    .hr-all-box{
        margin-bottom: 24px;
        /* padding: 117px 702px 117px 86px; */
        background-image: url("../images/BitmapLp.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    .hr-box{
        width: 100%;
        max-width: 493px;
    }

    .hr-box__title{
        margin: 0;
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        text-align: left;

        color: #FEFCF7;
    }
    .hr-box__text{
        margin: 0;
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FEFCF7;
        text-align: left;

        opacity: 0.8;   
    }
    .site-button{
        margin: 0;
        padding: 15px 30px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
    }   
    .our-section{
        padding: 120px 0 120px 0;
    }
    .our-box__item{
        position: relative;
        z-index: 5;
        display: inline-block;
        justify-content: center;
    }
    .our-box__img{
        position: relative;
        top: -25px;
        left: 14%;
        max-width: 256px;
        height: 193px;
    }
    .our-box__text-box{
        max-width: 282px;
    }
    .our-box__title{
        text-align: center;
    }
    .our-box__text{
        text-align: center;
        
    }
           
    .our-box__list{
        position: relative;
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;

    }

    .our-box__list::before{
        content: "";
        width: 100%;
        max-width: 1180px;
        height: 196px;
        position: absolute;
        top: -26%;
        left: 0%;
        background-image: url("../images/our-sectionTp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    .why-section{
        padding-bottom: 0;
    }
    .why-box{
        position: relative;
        padding: 0 24px;
        background-color: #2C343E;
        border-radius: 10px;
        z-index: 3;
    }

    .why-box::after{
        position: absolute;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 245px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #2C343E;
        content: "";
    }

    .why-box__text-box{
        padding: 64px 24px 28px 24px;
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .why-box__title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;    
    }   
    .why-box__text{
        margin: 0;
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;    
    }

    .why-box-list{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 24px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .why-box-item{
        flex-wrap: 1;
        position: relative;
        left: 0;
        width: 100%;
        max-width: 350px;
        padding: 200px 48px 48px 48px;
        background-color: #0E8784;
        border-radius: 8px;
        list-style: none;
    }
    .why-box-item{
        margin: 20px;
    }
    .why-box-item::before{
        position: absolute;
        top: 23%;
        left: 38%;
        width: 100%;
        max-width: 71px;
        height: 71px;
        background-image: url("../images/Shape.svg");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
    }
    .why-box-item:nth-child(2):before{
        background-image: url("../images/gift.svg");
    }
    .why-box-item:nth-child(3):before{
        background-image: url("../images/trakc.svg");
    }
 
    .why-box-item-title{
        margin: 0;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;    
    }

    .why-box-item-text{

        margin: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
    }
    .how-section{
        padding-top: 90px;
        padding-bottom: 120px;
    }

    .how-box__title{
        position: relative;
        margin: 0;
        margin-bottom: 230px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: start;
        color: #83888F;   
    }

    .how-box__list{
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
    }
        .how-box__list::before{
        position: absolute;
        top: -73%;
        left: 2%;
        content: "";
        max-width: 500px;
        width: 100%;
        height: 1px;
        background-color: #FDD6BA;
    }

    .how-box__item{
        margin: 0 auto;
        position: relative;
        max-width: 327px;
    }
    .how-box__item:not(:last-child){
        margin-bottom: 0;
        margin-left: 10px;
    
    }
    .how-box__item::before{
        position: absolute;
        top: -40%;
        left: 0%;
        background-image: url("../images/01.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 70px;
        content: "";
    }

    .how-box__item:nth-child(2):before{
        background-image: url("../images/02.svg");
    }

    .how-box__item:nth-child(3):before{
        background-image: url("../images/03.svg");
    }
    .how-box__item::after{
        position: absolute;
        top: -80%;
        left: 0%;
        content: "";
        width: 100%;
        max-width: 31px;
        height: 31px;
        background-color: #FEFCF7;
        border: 2px solid #0E8784;;
        border-radius: 50%;
    }

    .how-box__item-tlt{
        margin: 0;
        margin-bottom: 24px;
        max-width: 211px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        text-align: start;
        color: #333D4B;    
    }
    .how-box__item-txt{
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: start;
        color: #333D4B;    
    }


    .site-button--active{
        margin: 0 0;
        margin-top: 44px;
    }

    .site-button{
        cursor: pointer;
    }
    .site-button:hover{
        background-color:  #66D2CF;
    }
    .site-button:active{
        background-color:  #E2DEDB;
    }
    .footer-box{
        background-color: #2C343E;
        padding: 54px;
        width: 100%;
    }
    .footer-box__logo{
        display: flex;
        justify-content: center;
    }

    .footer-box__list{
        padding: 0;
        margin: 0 auto;
        margin-top: 33px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 300px;
        list-style: none;
        gap: 24px;
    }

    .footer-box__item{
        margin: 0 auto;
    }
    .footer-box__item:first-child{
        margin-top: 0;
    }
    .footer-box__item:last-child{
        margin-bottom: 50px;
    }
    .footer-box__link{
        margin: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
        text-decoration: none;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }

   

}
    

@media screen and (min-width: 786px){
    .how-box__list::before{
        max-width: 530px;
    }  
    
}

@media screen and (min-width: 834px){
    .how-box__list::before{
        max-width: 564px;
    }  
    
}
@media screen and (min-width: 890px){
    .how-box__list::before{
        max-width: 601px;
    }  
    
}
@media screen and (min-width: 946px){
    .how-box__list::before{
        max-width: 636px;
    }  
    
}
@media screen and (min-width: 992px){
    .how-box__list::before{
        max-width: 669px;
    }  
    
}
@media screen and (min-width: 1064px){
    .how-box__list::before{
        max-width: 710px;
    }  
    
}
@media screen and (min-width: 1160px){
    .how-box__list::before{
        max-width: 734px;
    }  
    
}@media screen and (min-width: 1224px){
    .how-box__list::before{
        max-width: 753px;
    }  
    
}


/* @media screen and (min-width: 833px){
    .how-box__list::before{
        max-width: 594px;
    }  
    
} */


/* @media screen and (min-width: 834px){
    .how-box__list::before{
        max-width: 802px;
    }  
    
} */



@media only screen and (min-width: 1187px){
        
    .container{
        padding: 0 30px;
    }

    .st-naw{
        display: block;
    }
    .header-box__btn{
        display: none;
    }

    .hr-all-box{
        margin-bottom: 24px;
        /* padding: 117px 702px 117px 86px; */
        background-image: url("../images/BitmapLp.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    .hr-box{
        width: 100%;
        max-width: 493px;
    }

    .hr-box__title{
        margin: 0;
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        text-align: left;

        color: #FEFCF7;
    }
    .hr-box__text{
        margin: 0;
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FEFCF7;
        text-align: left;

        opacity: 0.8;   
    }
    .site-button{
        margin: 0;
        padding: 15px 30px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
    }   
    .our-section{
        padding: 120px 0 120px 0;
    }
    .our-box__item{
        position: relative;
        z-index: 5;
        display: inline-block;
        justify-content: center;
    }
    .our-box__img{
        position: relative;
        top: -25px;
        left: 14%;
        max-width: 256px;
        height: 193px;
    }
    .our-box__text-box{
        max-width: 282px;
    }
    .our-box__title{
        text-align: center;
    }
    .our-box__text{
        text-align: center;
        
    }
           
    .our-box__list{
        position: relative;
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        flex-wrap: wrap;

    }

    .our-box__list::before{
        content: "";
        width: 100%;
        max-width: 1180px;
        height: 196px;
        position: absolute;
        top: -52%;
        left: 0%;
        background-image: url("../images/our-sectionTp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    .how-box{
        padding-left: 50px;
    }
    .site-button--active{
        margin-top: 44px;
    }
    
    .footer-box{
        display: flex;
        align-items: center;
        background-color: #2C343E;
        padding: 54px;
        width: 100%;
    }
    .footer-box__logo{
        display: flex;
        justify-content: center;
        margin-right: 103px;
    }

    .footer-box__list{
        padding: 0;
        margin: 0;
        margin-top: 33px;

        height: 40px;
        min-width: 121px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        gap: 24px;
    }

    .footer-box__item{
        margin: 0 auto;
    }
    .footer-box__item:first-child{
        margin-top: 0;
    }
    .footer-box__item:last-child{
        margin-bottom: 50px;
    }
    .footer-box__link{
        margin: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
        text-decoration: none;
    }
    .footer-box__symbols{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-left: auto;
    }
    .footer-box__sym-link{
        color: #fff;
    }

    .footer-box__sym-link:hover{
        color: #FDD6BA;
    }
}